/* frontend/src/App.css */
.App {
  font-family: Arial, sans-serif;
  background-color: #202124;
  color: #e0e0e0;
  padding: 20px;
}

.add-expense, .expenses-list {
  background-color: #383838;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 8px;
}

input, button {
  margin: 5px;
  padding: 8px;
  border: 1px solid #ccc;
  background-color: #505050;
  color: #e0e0e0;
  border-radius: 4px;
}

button {
  background-color: #4caf50;
  color: white;
  cursor: pointer;
  border: none;
}

button:hover {
  background-color: #45a049;
}

.expense-item {
  margin-bottom: 10px;
  padding: 10px;
  background-color: #505050;
  border-radius: 4px;
}

.expense-item p {
  margin: 5px 0;
}
